body {
    background: url("https://cdn.discordapp.com/attachments/770775355165245462/774657742681014323/66257-aleni.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

